<%= form_with(id: "sorted_number", 
              # action: "#", 
              data: { :'sorted-number-url' => sorted_number_url },
              class: 'form bg-dark text-white p-5 rounded-1 bg-opacity-75') do |f| %>
  <div class="mb-3">
    <%= f.label(:loteric_number, class: 'form-label') do %>
      <%= I18n.t(:loteric_number, scope: 'forms.consortium_plan') %>
      <%= link_to(I18n.t(:last_sorted, scope: 'forms.consortium_plan'), 
                  redirect_to_caixa_last_result_redirect_path, 
                  target: "_blank") %>
    <% end %>

    <%= f.select(:loteric_number, FederalResult.result_for_select, {}, class: "form-select") %>
  </div>

  <div class="mb-3">
    <%= f.label(:person_count,
                  I18n.t(:person_count, scope: 'forms.consortium_plan'),
                  class: "form-label") %>

    <%= f.text_field(:person_count, class: "form-control", list: "person_count_options", required: true) %>

    <datalist id='person_count_options'>
      <%= options_for_select(ConsortiumPlan.person_count_for_select) %>
    </datalist> 
  </div>

  <hr>
  <div class="d-flex flex-column gap-3 align-intes-center">
    <div class="col">
      <%= render partial: 'how_it_works/button' %>
      <%= f.submit(I18n.t(:button_submit, scope: 'forms.consortium_plan'), type: 'submit', class: "btn btn-primary") %>
    </div>
  
    <div class="col">
      <div id="result_quota_number" class="d-none">
        <label>
          <%= I18n.t(:result_text, scope: 'forms.consortium_plan') %> 
        </label>
        <span></span>
      </div>
    </div>
  </div>
<% end %>

