<!DOCTYPE html>
<html>
  <head>
    <title>Honda Consórcio - Número da Cota </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container-fluid mt-5">
      <div class="row">
        <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
          <%= yield :left_bar %>
        </div>

        <%= yield %>

        <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
          <%= yield :right_bar %>
        </div>
      </div>
      
      <footer class="container-fluid">
        <p> By Geraldo Júnior </p>
      </footer>
    </main>
  </body>
</html>



