<!DOCTYPE html>
<html>
  <head>
    <title>Honda Consórcio - Número da Cota </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container-fluid mt-5">
      <div class="row">
        <% if content_for?(:left_bar) %>
          <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
            <%= yield :left_bar %>
          </div>
        <% end %>

        <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
          <%= yield %>
        </div>

        <% if content_for?(:right_bar) %>
          <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
            <%= yield :right_bar %>
          </div>
        <% end %>
      </div>

      <% if content_for?(:adsence) %>
        <div class="container-fluid my-4 d-flex justify-content-around flex-wrap gap-2">
          <%= yield :adsence %>
        </div>
      <% end %>

      <footer class="container-fluid d-flex justify-content-center mt-3">
        <p> By Geraldo Júnior </p>
      </footer>
    </main>

    <%= render partial: 'shared/toastr_flash' %>
  </body>
</html>



