<!DOCTYPE html>
<html>
  <head>
    <title>Honda Consórcio - Número da Cota </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
    <style>
      #result_quota_number{
        background-color: blanchedalmond;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: red;
        font-weight: 400;
        border-radius: 0.2rem;
      }
    </style>
  </head>

  <body>
    <main class="container-fluid mt-5">
      <div class="row">
        <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
          <%= yield :left_bar %>
        </div>

        <%= yield %>

        <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
          <%= yield :right_bar %>
        </div>
      </div>
      
      <footer class="container-fluid">
        <p> By Geraldo Júnior </p>
      </footer>
    </main>
  </body>
</html>



