<!DOCTYPE html>
<html>
  <head>
    <%= page_title_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	  <meta name="author" content="Geraldo Junior">
	  <meta name="description" content="Cota Sorteada - Saiba o numero da cota sorteada no consorcio Honda de acordo com o resultado da loteria federal">
	  <meta name="keywords" content="consórcio, honda, motors, moto, contemplação, sorteio, cota">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container-fluid mt-5">
      <div class="row">
        <% if content_for?(:left_bar) %>
          <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
            <%= yield :left_bar %>
          </div>
        <% end %>

        <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
          <%= yield %>
        </div>

        <% if content_for?(:right_bar) %>
          <div class="col d-flex flex-column align-items-center justify-content-start gap-2 ">
            <%= yield :right_bar %>
          </div>
        <% end %>
      </div>

      <% if content_for?(:adsence) %>
        <div class="container-fluid my-4 d-flex justify-content-around flex-wrap gap-2">
          <%= yield :adsence %>
        </div>
      <% end %>

      <section class="comments container-fluid my-4 d-flex flex-column justify-content-center px-0 py-3">
        <h3 class='text-secondary text-secondary'>
          <%= I18n.t("disqus_title") %>
        </h3>
        <div id="disqus_thread"></div>
      </section>

      <footer class="container-fluid d-flex justify-content-center my-3">
        <div><%= developer_profile_link %></div>
      </footer>
    </main>

    <%= render partial: 'shared/toastr_flash' %>
    <script id="dsq-count-scr" src="//honda-sorted-number.disqus.com/count.js" async></script>
  </body>
</html>



